<!doctype html>
<html>
<head>
  <title>Game Questionaire</title>
</head>
<body>

<h1>But first, we've got questions. </h1>

<form>
    Choose a celebrity.

    <select name="Choose a celebrity.">
        <option value="celebrity">Brad Pitt</option>
        <option value="celebrity">Rihanna</option>
        <option value="celebrity">Kim K</option>
    </select>
</form>

<form>
    <label>Tell us your favorite color.</label>
    <textarea name="color"></textarea>
</form>

<form>
    <label>Come up with a random word.</label>
    <textarea name="noun"></textarea>
</form>

<form>
    Choose a word that describes you. 

    <select name="Choose a word that describes you">
        <option value="adjective">Fun</option>
        <option value="adjective">Beautiful</option>
        <option value="adjective">Creative</option>
        <option value="adjective">Intelligent</option>
    </select>   
    <input type="submit">
</form>

</body>
</html>


